*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    margin:0;
}


.about-me {
    text-align:center;
}
.about-me > img { 
    width: 100%; 
    max-width: 580px;
    border-radius: 960px;
}
.about-me > h1 {
    font-family: 'Bungee Spice', cursive;
}
.about-me > p { color: darkviolet;
    
}



header{
    z-index: 1000000;
    white-space:  nowrap;
    background: #f51;
    color: #fff;
    padding: 18px;
}
header > .hamburger {
    position: absolute;
    z-index: 500;
    top: 20px;
    left: -48px;
    width: 48px;
    height: 48px;
    transition: all .3s ease-out 0s;
}
header > .hamburger > span {
    position: relative;
    display: block;
    height: 12px;
    margin: 0 0 6px 0;
    background: #fff;
    border-radius: 96px;
    transition: all .3s ease-in-out .3s;
    box-shadow: 0 0 0px 2px white; 
    cursor: pointer; 
}
header > .hamburger:hover > span{
    box-shadow: 0 0 0px 2px;
}
header > a {
    display: inline-block;
    width: 33%;
    text-decoration: none;
    color: #fff; 
}
header > a > img {
    width: 48px;
    vertical-align: middle;
}
header > a > strong {
    vertical-align: middle
    font: 400 18px/24px arial;
    text-transform: uppercase;
    margin-left: 6px;
}
header > nav {
    position: relative;
    z-index: 999;
    display: inline-block;
    width: 33%;
    text-align: center;
}
header > nav > a {
    position: relative;
    top: 0px;
    display: inline-block;
    font:400 18px/42px arial;
    color: #fff;
    text-decoration: none;
    margin:0px 12px;
    transition: all .3s ease-in-out 0s;
}
header > nav > a:hover {
     color: black;
    top:-6px;
}
header > .cta {
    display: inline-block;
    width: 33%; 
    text-align: right;
}
header > .cta > a {
    display: inline-block;
    font:900 18px/42px arial;
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
    border: 3px solid #fff;
    border-radius: 96px;
    padding: 0 18px;
    transition: all .3s ease-in-out 0s;
}
header > .cta > a:hover {
    background: #fff;
    color: #f16; 
}




@media all and (max-width: 960px) {
    header{
        padding: 12px 12px 12px 72px; 
    }
    header > .hamburger {
        left: 12px; 
    }
    header > nav {
        position: fixed;
        left: -250px;
        top: 0px;
        width: 250px;
        height: 100vh;
        transition: all .3s ease-in-out 0s;
    }
    header > nav > a {
        display: block;
    }
    header > a {
        width: 50%;
    }
    header > .cta {
        width: 50%;
    }
    
    header > .hamburger.open{
        left: 262px;
    }
    header > .hamburger.open > span:nth-of-type(1){
        transform: rotate(45deg);
        top: 9px;
    }
 header > .hamburger.open > span:nth-of-type(2){
        transform: rotate(-45deg);
        top: -9px;
    } 
 header > .hamburger.open > span:nth-of-type(3){
     opacity:0 ; 
    }
 header > .open ~ nav  {
        left: 0px;
        background: #f51; 
        box-shadow: 0px 0px 11px black;
    }
}

.banner{
    height: 72vh;
    background-image: url(images/mountains.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    white-space: nowrap;
    
    clip-path: polygon(0 0, 100% 0, 98% 90%, 50% 100%, 0 90%);
    background-attachment: fixed;
}
.banner:after {
    display: inline-block;
    content: '\00a0';
    background: black; 
    height: 100%;
    vertical-align: middle;
    width: 0px;
}
.banner > hgroup{
    display: inline-block;
    width: 100%;
    max-width: 720px;
    vertical-align: middle;
}
.banner > hgroup > img {
    width: 100%;
    max-width: 120px;
}
.banner > hgroup > h1 {
    font: 900 36px/36px goldman; 
    text-transform: uppercase;
    text-transform: bold;
    color: #fff;
    margin: 12px 0;
}
.banner > hgroup > h2 {
    font: 400 24px/24px goldman;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}
.banner > hgroup > a {
    display: inline-block;
    font: 900 24px/24px goldman; 
    text-transform: uppercase;
    text-transform: bold;
    color: #fff;
    text-decoration: none;
    background-color: #f51;
    box-shadow: 0 0 0 0px #f51; 
    border-radius: 96px; 
    padding: 8px 22px; 
    margin: 12px 0;
    transition: all .3s ease-out 0s;
}
.banner > hgroup > a:hover {
    box-shadow: 0 0 0 3px #f51; 
}





.testamonials{
    display:inline-block;
    width:100%;
    height:100%;
    margin:0;
    padding: 10px;
    background:orange;
}
.testimonials > h2{
    text-align:center;
    font: 900 36px/36px Goldman;
    color:#f51;
}
.testimonials > .ratings{
    display:inline-block;
   float: left;
    width:25%;
    height:364px;
    margin:0px;
    background: darkgrey;
}
.testimonials > .ratings > img{
    height:25px;
    width:25px;
    margin:1%;
    padding: 1%;
    border:1%;
}
.testimonials > .ratings > .rating{
    position: relative;
    width: 154px;
    height: 24px;
    margin: 1%;
    padding:3px 3px 3px 24px;
    color:darkgrey
}
.testimonials > .ratings > .rating > .number{
    position: absolute;
    left: 0px;
    top: 0px;
    display:inline-block;
    width:24px;
    height:24px;
    text-align: center;
    font: 900 14px/24px goldman;
    color: white;
}
.testimonials > .ratings > .rating > .bar{
    width:100%;
    height: 18px;
    display:inline-block;
    background:white;
    
}
.testimonials > .ratings > .rating > .bar > .percentage{
    position:relative;
    width:75px%;
    height:25px%;
    margin:0;
    padding:0;
    background:orange;
    
}


.testimonials > .reviews{
}
.testimonials > .reviews > .review{
    position: relative;
    overflow: hidden;
    margin:15;
    background: aqua;
}
.testimonials > .reviews > .review > .profile{
    display: inline-block;
    height: 60px;
    width: auto;
    vertical-align: middle;
}
.testimonials > .reviews > .review > h3{
    width:250px;
    font: 900 15px/15px goldman;
    display: inline-block;
    vertical-align: middle;
    text-align:left;
    vertical-align: middle;
    margin:0;
}
.testimonials > .reviews > .review > h3~img{
    width: 25px;
    vertical-align: middle;
}
.testimonials > .reviews > .review > .arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    width:8px;
    height:8px;
}
.testimonials > .reviews > .review > p{
    align-content:center;
    max-width: 100px;
    display: none;
}
.contactus{
   text-align:center; 
}
.contactus > h2{
    font: 400 28px/35px Goldman;
}
.contactus > nav{
    
}
.contactus > nav > a{
  display:inline-block;
    background-color:beige;
    border: 2px solid Black;
    border-radius:13px;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
    padding-left:4px;
    font: 400 12px/18px goldman;
    color:#f51;
    width:120px;
    text-decoration:none;
}
.contactus > .socials{
    padding-top:30px;
    padding-bottom:30px;
}
.contactus > .socials > a{
    
}
.contactus > .socials > a > img{
   width:42px;
    padding-left:5px;
    padding-right:5px;
    
}








.footer{
    width:100%;
    height: 150px;
    background-color:dimgrey;
}

.footer > .logo{
    float: left;
    width:50%;
    overflow:auto;
}
.footer > .logo > img{
    width:15%;
    display:inline-block;
    vertical-align:middle;
}
.footer > .logo > h1{
    width:80%;
    padding-left:10%;
    display:inline-block;
    vertical-align:middle;
    color:#000;
}

.footer > .nav{
    overflow:auto;
    float:right;
    width:50%;
    text-align:right;
}
.footer > .nav > h1{
    width:85%;
    color:#000;
    font-size: 18px;
    vertical-align:middle;
}
.footer > .nav > .links{
    width:45%; 
    text-align:left;
    float:right;
}
.footer > .nav > .links > a {
    display:block;
    padding:2px;
    color:lightblue;
}

.footer > .socials{
   display: block;
    clear: both;
    text-align:center;
}
.footer > .socials > a > img{
    width:25px;
}


.squeeze{
    
}
.squeeze > h1{
    background: blue;
    text-align: center;
}
.squeeze > h2{
    background: red;
    text-align: center;
    font-size: 20px;
}
.squeeze > .special{
    background: cyan;
    width:30px;
}
.squeeze > div{
}
.squeeze > .email{
    background:blue;
    
}
.squeeze > .name{
    background: green;
    
}
.squeeze > button{
    background: purple;
}
.squeeze > a > img{
    width:30px;
}






.references {
    display:block;
    text-align:center;
    width:96%;
    padding: 24px;
    margin:0 auto;
    border-bottom:2px solid #000;
}
.references > section{
    display: inline-block;
    
}
.references > section > div.photo{
    width: 96px;
    height: 96px;
    margin: 9px auto;
    border-radius: 96px;
    background-color: #ccc;
}
.references > section > strong{
    font:700 18px/24px Goldman;
}
.references > section > p{
    font:400 16px/24px goldman;
    color:#333;
}
.references > section > span{
    font: 400 14px/24px arial;
    color:#666;
}



.professional{
    text-align:center;
}
.professional > section{
    display: inline-block;
    width:32%;
    border-left: 1px solid #000;
    vertical-align:top;
}
.professional > section:first-of-type {
    border-left:none;
}
.professional > section > h2 {
   font: 900 16px/24px helvetica;
    text-transform: uppercase;
    text-align:center;
}




.employment{
    text-align:left;
    margin: 24px 0 0 0;
}
.employment > div{
    margin: 12px 0 24px 0;
    
}
.employment > div > p{
    font:400 16px/18px arial;
}
.employment > div > date{
    font-weight:700;
}
.employment > div > .company{
    text-transform:uppercase;
    
}
.employment > div > .position{
    
}
.employment > div > .manager{
    margin: 0 0 12px 0;
}




.skills{
    margin: 24px 0 0 0;
}
.skills > strong{
    font: 700 16px/18px arial;
}
.skills > div{
    height:36px;
    border:2px solid #000;
    border-radius:96px;
    margin: 0 0 24px 0;
}
.skills > div > span{
    display:block;
    background-color:#f51;
    height: 33px;
    border-radius:96px;
    border: 4px solid #000;
    
}
.professional > section.projects{
    display:block;
    width:100%;
    max-width:540px;
    margin:0 auto;
    border:none;
}
.projects > img{
    width:100%;

}
.projects > strong{
    font: 700 16px/18px arial;
}
.projects > p{
    margin: 0 0 12px 0;
    font: 400 16px/18px arial;
}





.personal{
    text-align:center;
}
.personal > section{
    display:inline-block;
    vertical-align: top;
    max-width:49%;
    width:50%;
    
}
.personal > section > h3{
    font: 700 16px/18px Arial;
    margin-bottom:20px;
}
.personal > section > ul{
    list-style:none;
}
.personal > section > ul > li{
    border:5px solid #f51;
    max-width:90%;
    margin:0 auto 9px auto;
    padding: 12px;
    border-radius:96px;
    font:200 14px/24px Arial;
    text-transform: uppercase;
    background: #000;
    color:#fff;
}

.personal > div{
    padding: 24px 0 0 0;
}
.personal > div > h2{
    font:700 18px/20px Arial;
    text-transform:uppercase;
    margin: 0 0 12px 0;
}
.personal > div > p{
    font:200 20px/24px Arial;
}


.academic{
    padding:48px;
    text-align:center;
}
.academic > h3{
    font:600 72px/72px arial;
    margin: 0 0 24px 0;
}
.academic > h2{
    font:800 72px/72px Goldman;
    margin: 0 0 24px 0;
}
.academic > ul{
    max-width: 480px;
    margin: 0 auto;
    list-style: none;
}
.academic > ul > li{
    position:relative;
    font: 200 18px/24px Arial;
    padding:9px;
}
.academic > ul > li:before {
    position:absolute;
    left:-6px;
    top:18px;
    content:'\00a0';
    background: #000;
    width:12px;
    height:12px;
    border-radius:96px;
}